@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

[x-cloak] {
    display: none;
}

.table-row {
    @apply h-20 text-sm leading-none text-gray-700 border-b border-t border-gray-200 bg-white hover:bg-gray-100
}

.bg-overlays {
    opacity: 98%;
    background-color: #3f3f46;
}
